.landing {
    height: calc(100vh) !important;
    background-image: url('https://images5.alphacoders.com/349/349822.jpg') !important;
  }
  
  /* .landing .btn {
    background-color: white !important;
    color: black !important;
    margin-top: 10px !important;
  } */
  
  .bg-image {
    background-image: url('https://images5.alphacoders.com/349/349822.jpg');
    background-size: cover;
    background-position: center center;
  }
  